svg {
  display: block;
  margin: auto;
}

select {
  margin-bottom: 10px;
}

.node,
.node--leaf {
  cursor: pointer;
  fill: white;
  /* stroke: #c4db15;
  stroke-width: 1px; */
}

.node:hover {
  stroke: #c4db15;
  stroke-width: 1.5px;
}

.label,
.node--root
/* .node--leaf */ {
  pointer-events: none;
}
